/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13/04/2024, 09:21:18 AM
    Author     : pcgc7
*/


/* ********** Estilos que aplican para todas las páginas ********** */

/* ********** Encabezado ********** */
.imgEncabezado { font-family: 'Mooli', sans-serif; background-image: url('../imagenes/imgCafe_2.jpg'); background-size: cover; background-position: center; }
.display-4 { font-size: 3.5em !important; }
.w-25 { width: 15% !important; }

/* ********** Menú principal ********** */
.menu { font-size: 1.5em; }

/* ********** Título y texto de sección ********** */
.titulo { font-family: 'Mooli', sans-serif; }
.py-5 { padding-top: 2.5em !important; padding-bottom: 2.5em !important; }
.textoSeccion { font-size: 1.25em; }

/* ********** Pie de página ********** */
.colorFooter { background-color: #003958; }
footer a, footer ul li, .copyright { font-size: 0.85em !important; }
footer h3 { font-size: 1.75em; }

/* ******************** Media queries ******************** */

@media screen and (min-width: 1424px) and (max-width: 1647.98px) {

    /* ********** Encabezado ********** */
    .display-4 { font-size: 3.25em !important; }
    .w-25 { width: 10% !important; }
    
    /* ********** Menú principal ********** */
    .menu { font-size: 1.25em; }
    
    /* ********** Título y texto de sección ********** */
    .py-5 { padding-top: 2.25em !important; padding-bottom: 2.25em !important; }
    .textoSeccion { font-size: 1.15em; }
    
    /* ********** Pie de página ********** */
    footer a, footer ul li, .copyright { font-size: 0.85em !important; }
    footer h3 { font-size: 1.5em; }                
}

@media screen and (min-width: 1200px) and (max-width: 1423.98px) {
    
    /* ********** Encabezado ********** */
    .display-4 { font-size: 3em !important; }
    .w-25 { width: 10% !important; }
    
    /* ********** Menú principal ********** */
    .menu { font-size: 1.25em; }
    
    /* ********** Título y texto de sección ********** */
    .py-5 { padding-top: 2em !important; padding-bottom: 2em !important; }
    .textoSeccion { font-size: 1.15em; }
    
    /* ********** Pie de página ********** */
    footer a, footer ul li, .copyright { font-size: 0.85em !important; }
    footer h3 { font-size: 1.5em; }       
}

@media screen and (min-width: 992px) and (max-width: 1199.98px) {
        
    /* ********** Encabezado ********** */
    .display-4 { font-size: 2.75em !important; }
    .w-25 { width: 10% !important; }
    
    /* ********** Menú principal ********** */
    .menu { font-size: 1em; }
    
    /* ********** Título y texto de sección ********** */
    .py-5 { padding-top: 1.75em !important; padding-bottom: 1.75em !important; }
    .textoSeccion { font-size: 1em; }
    
    /* ********** Pie de página ********** */
    footer a, footer ul li, .copyright { font-size: 0.75em !important; }
    footer h3 { font-size: 1.25em; }       
}

@media screen and (min-width: 768px) and (max-width: 991.98px) {
    
    /* ********** Encabezado ********** */
    .display-4 { font-size: 2.25em !important; }
    .w-25 { width: 10% !important; }
    
    /* ********** Menú principal ********** */
    .menu { font-size: 1em; }
    .nav-link { padding: 0 !important; }
    
    /* ********** Título y texto de sección ********** */
    .py-5 { padding-top: 1.5em !important; padding-bottom: 1.5em !important; }
    .textoSeccion { font-size: 0.85em; }
    
    /* ********** Pie de página ********** */
    footer a, footer ul li, .copyright { font-size: 0.65em !important; }
    footer h3 { font-size: 1.25em; }    
}

@media screen and (min-width: 576px) and (max-width: 767.98px) {
    
    /* ********** Encabezado ********** */
    .display-4 { font-size: 2em !important; }
    .w-25 { width: 10% !important; }
    
    /* ********** Menú principal ********** */
    .menu { font-size: 0.75em; }
    .nav-link { padding: 0 !important; }
    
    /* ********** Título y texto de sección ********** */
    .py-5 { padding-top: 1.5em !important; padding-bottom: 1.5em !important; }
    .textoSeccion { font-size: 0.85em; }
    
    /* ********** Pie de página ********** */
    footer a, footer ul li, .copyright { font-size: 0.55em !important; }
    footer h3 { font-size: 1.25em; }     
}

@media screen and (max-width: 575.98px) {
    
    /* ********** Encabezado ********** */
    .display-4 { font-size: 1.75em !important; }
    .w-25 { width: 10% !important; }
    
    /* ********** Menú principal ********** */
    .menu { font-size: 0.65em; }
    .nav-link { padding: 0 !important; }
    
    /* ********** Título y texto de sección ********** */
    .py-5 { padding-top: 1.25em !important; padding-bottom: 1.25em !important; }
    .textoSeccion { font-size: 0.75em; }
    
    /* ********** Pie de página ********** */
    footer a, footer ul li, .copyright { font-size: 0.55em !important; }
    footer h3 { font-size: 1.25em; }       
}

/* ********************************************************************************************* */